.webBar{
    margin : 15px;
}

.logout{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.userImg {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    .drawer {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
.barBtn {
    font-size: 17px;
    padding: 5px 0px;
    cursor: pointer;
    color: #2b2b2b;
    font-weight: bold;
    width: 100%;
    &:hover {
        background-color: white;
        transition: all 0.4s;
    }
    &.stats {
        border-radius: 0px 0px 0px 10px;
    }
}
.divider {
    color: var(--third);
}
.drawers {
    border-radius: 0px 0px 0px 10px;
    position: absolute;
    animation: fadeIn 0.5s;
    width: 117px;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: var(--primary);
    color: var(--secondary);
    box-shadow: 0px 0px 4px 0px var(--blueShadow);
    transition: all 0.8s ease;
}
.closeIcon {
    cursor: pointer;
    align-self: flex-end;
}
@media only screen and (max-width: 680px) {
    
    .barBtn {
        margin-inline : 5px;
        font-size: 17px;
        padding: 5px;
        cursor: pointer;
        color: #2b2b2b;
        font-weight: bold;
        
    }

}