.hint {
  display: flex;
  flex-direction: row;
  justify-content: center;
    background-color: #0079ED;
    color: white;
    margin-bottom: 5px;
    padding : 5px;
    animation: changeColor 1s ;
    transform: rotate(0deg) scale(1) translateZ(0);
    transition: all 0.5s cubic-bezier(.8,1.8,.75,.75);
}


@keyframes changeColor {
0% {
  opacity: 1;
  transform: scale(.3);
} 

50% {
  opacity: 1;
  background-color : #2b2b2b;
} 

70% {
  opacity: 1;
  transform: scale(.9);
}

100% {
  opacity: 1;
  transform: scale(1);
}
}